In [19]:
import pandas as pd
import numpy as np
import tensorflow as tf
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat

In [3]:
spark = SparkSession \
    .builder \
    .appName("CA2") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

24/04/08 22:30:38 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
df = spark.read.format("csv").option("header",True).load("/CA1/dft_traffic_counts_raw_counts.csv")

In [5]:
df.printSchema()

root
 |-- Count_point_id: string (nullable = true)
 |-- Direction_of_travel: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Count_date: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- Region_id: string (nullable = true)
 |-- Region_name: string (nullable = true)
 |-- Region_ons_code: string (nullable = true)
 |-- Local_authority_id: string (nullable = true)
 |-- Local_authority_name: string (nullable = true)
 |-- Local_authority_code: string (nullable = true)
 |-- Road_name: string (nullable = true)
 |-- Road_category: string (nullable = true)
 |-- Road_type: string (nullable = true)
 |-- Start_junction_road_name: string (nullable = true)
 |-- End_junction_road_name: string (nullable = true)
 |-- Easting: string (nullable = true)
 |-- Northing: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Link_length_km: string (nullable = true)
 |-- Link_length_miles: string (nullable = true)
 |-- Pedal_cycles: string (nullable = true)
 |-- Two_wheeled_motor_vehicles: string (nullable = true)
 |-- Cars_and_taxis: string (nullable = true)
 |-- Buses_and_coaches: string (nullable = true)
 |-- LGVs: string (nullable = true)
 |-- HGVs_2_rigid_axle: string (nullable = true)
 |-- HGVs_3_rigid_axle: string (nullable = true)
 |-- HGVs_4_or_more_rigid_axle: string (nullable = true)
 |-- HGVs_3_or_4_articulated_axle: string (nullable = true)
 |-- HGVs_5_articulated_axle: string (nullable = true)
 |-- HGVs_6_articulated_axle: string (nullable = true)
 |-- All_HGVs: string (nullable = true)
 |-- All_motor_vehicles: string (nullable = true)

In [6]:
df.head(5)

24/04/08 22:30:51 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

[Row(Count_point_id='749', Direction_of_travel='E', Year='2014', Count_date='2014-06-25 00:00:00', hour='7', Region_id='3', Region_name='Scotland', Region_ons_code='S92000003', Local_authority_id='39', Local_authority_name='East Ayrshire', Local_authority_code='S12000008', Road_name='A77', Road_category='TA', Road_type='Major', Start_junction_road_name='LA boundary', End_junction_road_name='A76', Easting='243900', Northing='635900', Latitude='55.591636456', Longitude='-4.478605862', Link_length_km='4.60', Link_length_miles='2.86000000000000000', Pedal_cycles='0', Two_wheeled_motor_vehicles='2', Cars_and_taxis='845', Buses_and_coaches='5', LGVs='31', HGVs_2_rigid_axle='15', HGVs_3_rigid_axle='4', HGVs_4_or_more_rigid_axle='4', HGVs_3_or_4_articulated_axle='4', HGVs_5_articulated_axle='13', HGVs_6_articulated_axle='12', All_HGVs='52', All_motor_vehicles='935'),
 Row(Count_point_id='749', Direction_of_travel='E', Year='2014', Count_date='2014-06-25 00:00:00', hour='8', Region_id='3', Region_name='Scotland', Region_ons_code='S92000003', Local_authority_id='39', Local_authority_name='East Ayrshire', Local_authority_code='S12000008', Road_name='A77', Road_category='TA', Road_type='Major', Start_junction_road_name='LA boundary', End_junction_road_name='A76', Easting='243900', Northing='635900', Latitude='55.591636456', Longitude='-4.478605862', Link_length_km='4.60', Link_length_miles='2.86000000000000000', Pedal_cycles='0', Two_wheeled_motor_vehicles='5', Cars_and_taxis='908', Buses_and_coaches='7', LGVs='103', HGVs_2_rigid_axle='29', HGVs_3_rigid_axle='3', HGVs_4_or_more_rigid_axle='2', HGVs_3_or_4_articulated_axle='7', HGVs_5_articulated_axle='18', HGVs_6_articulated_axle='20', All_HGVs='79', All_motor_vehicles='1102'),
 Row(Count_point_id='749', Direction_of_travel='E', Year='2014', Count_date='2014-06-25 00:00:00', hour='9', Region_id='3', Region_name='Scotland', Region_ons_code='S92000003', Local_authority_id='39', Local_authority_name='East Ayrshire', Local_authority_code='S12000008', Road_name='A77', Road_category='TA', Road_type='Major', Start_junction_road_name='LA boundary', End_junction_road_name='A76', Easting='243900', Northing='635900', Latitude='55.591636456', Longitude='-4.478605862', Link_length_km='4.60', Link_length_miles='2.86000000000000000', Pedal_cycles='0', Two_wheeled_motor_vehicles='2', Cars_and_taxis='595', Buses_and_coaches='14', LGVs='88', HGVs_2_rigid_axle='21', HGVs_3_rigid_axle='3', HGVs_4_or_more_rigid_axle='5', HGVs_3_or_4_articulated_axle='9', HGVs_5_articulated_axle='17', HGVs_6_articulated_axle='19', All_HGVs='74', All_motor_vehicles='773'),
 Row(Count_point_id='749', Direction_of_travel='E', Year='2014', Count_date='2014-06-25 00:00:00', hour='10', Region_id='3', Region_name='Scotland', Region_ons_code='S92000003', Local_authority_id='39', Local_authority_name='East Ayrshire', Local_authority_code='S12000008', Road_name='A77', Road_category='TA', Road_type='Major', Start_junction_road_name='LA boundary', End_junction_road_name='A76', Easting='243900', Northing='635900', Latitude='55.591636456', Longitude='-4.478605862', Link_length_km='4.60', Link_length_miles='2.86000000000000000', Pedal_cycles='0', Two_wheeled_motor_vehicles='1', Cars_and_taxis='590', Buses_and_coaches='8', LGVs='90', HGVs_2_rigid_axle='31', HGVs_3_rigid_axle='6', HGVs_4_or_more_rigid_axle='10', HGVs_3_or_4_articulated_axle='7', HGVs_5_articulated_axle='18', HGVs_6_articulated_axle='17', All_HGVs='89', All_motor_vehicles='778'),
 Row(Count_point_id='749', Direction_of_travel='E', Year='2014', Count_date='2014-06-25 00:00:00', hour='11', Region_id='3', Region_name='Scotland', Region_ons_code='S92000003', Local_authority_id='39', Local_authority_name='East Ayrshire', Local_authority_code='S12000008', Road_name='A77', Road_category='TA', Road_type='Major', Start_junction_road_name='LA boundary', End_junction_road_name='A76', Easting='243900', Northing='635900', Latitude='55.591636456', Longitude='-4.478605862', Link_length_km='4.60', Link_length_miles='2.86000000000000000', Pedal_cycles='0', Two_wheeled_motor_vehicles='2', Cars_and_taxis='695', Buses_and_coaches='18', LGVs='75', HGVs_2_rigid_axle='38', HGVs_3_rigid_axle='2', HGVs_4_or_more_rigid_axle='2', HGVs_3_or_4_articulated_axle='3', HGVs_5_articulated_axle='16', HGVs_6_articulated_axle='24', All_HGVs='85', All_motor_vehicles='875')]

In [7]:
df.count()

4815432

In [8]:
for col in df.columns:
    print(col,"\t","with null values:",df.filter(df[col].isNull()).count())

Count_point_id 	 with null values: 0

Direction_of_travel 	 with null values: 0

Year 	 with null values: 0

Count_date 	 with null values: 0

hour 	 with null values: 0

Region_id 	 with null values: 0

Region_name 	 with null values: 0

Region_ons_code 	 with null values: 0

Local_authority_id 	 with null values: 0

Local_authority_name 	 with null values: 0

Local_authority_code 	 with null values: 0

Road_name 	 with null values: 0

Road_category 	 with null values: 0

Road_type 	 with null values: 0

Start_junction_road_name 	 with null values: 2634840

End_junction_road_name 	 with null values: 2634780

Easting 	 with null values: 0

Northing 	 with null values: 0

Latitude 	 with null values: 0

Longitude 	 with null values: 0

Link_length_km 	 with null values: 2632752

Link_length_miles 	 with null values: 2632752

Pedal_cycles 	 with null values: 0

Two_wheeled_motor_vehicles 	 with null values: 0

Cars_and_taxis 	 with null values: 1

Buses_and_coaches 	 with null values: 5

LGVs 	 with null values: 0

HGVs_2_rigid_axle 	 with null values: 4

HGVs_3_rigid_axle 	 with null values: 1

HGVs_4_or_more_rigid_axle 	 with null values: 2

HGVs_3_or_4_articulated_axle 	 with null values: 1

HGVs_5_articulated_axle 	 with null values: 0

HGVs_6_articulated_axle 	 with null values: 1

All_HGVs 	 with null values: 9

All_motor_vehicles 	 with null values: 15

In [9]:
#Dropping columns with many null values since they are not relevant
cols_drop = ["Start_junction_road_name","End_junction_road_name","End_junction_road_name","Link_length_km","Link_length_miles"]
df =df.drop(*cols_drop)

In [10]:
#dropping the rows with null values since they are so few now
df = df.na.drop()

In [11]:
df.count()

4815417

In [12]:
df.show()

+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+-------+--------+------------+------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
|Count_point_id|Direction_of_travel|Year|         Count_date|hour|Region_id|Region_name|Region_ons_code|Local_authority_id|Local_authority_name|Local_authority_code|Road_name|Road_category|Road_type|Easting|Northing|    Latitude|   Longitude|Pedal_cycles|Two_wheeled_motor_vehicles|Cars_and_taxis|Buses_and_coaches|LGVs|HGVs_2_rigid_axle|HGVs_3_rigid_axle|HGVs_4_or_more_rigid_axle|HGVs_3_or_4_articulated_axle|HGVs_5_articulated_axle|HGVs_6_articulated_axle|All_HGVs|All_motor_vehicles|
+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+-------+--------+------------+------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
|           749|                  E|2014|2014-06-25 00:00:00|   7|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         2|           845|                5|  31|               15|                4|                        4|                           4|                     13|                     12|      52|               935|
|           749|                  E|2014|2014-06-25 00:00:00|   8|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         5|           908|                7| 103|               29|                3|                        2|                           7|                     18|                     20|      79|              1102|
|           749|                  E|2014|2014-06-25 00:00:00|   9|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         2|           595|               14|  88|               21|                3|                        5|                           9|                     17|                     19|      74|               773|
|           749|                  E|2014|2014-06-25 00:00:00|  10|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         1|           590|                8|  90|               31|                6|                       10|                           7|                     18|                     17|      89|               778|
|           749|                  E|2014|2014-06-25 00:00:00|  11|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         2|           695|               18|  75|               38|                2|                        2|                           3|                     16|                     24|      85|               875|
|           749|                  E|2014|2014-06-25 00:00:00|  12|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         2|           607|                7|  90|               16|                5|                        2|                           4|                      9|                     12|      48|               754|
|           749|                  W|2014|2014-06-25 00:00:00|  13|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         1|           731|                6|  93|               21|                9|                        3|                           4|                     15|                     13|      65|               896|
|           749|                  W|2014|2014-06-25 00:00:00|  14|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         0|           809|               10| 102|               24|                8|                        4|                           3|                     14|                     16|      69|               990|
|           749|                  W|2014|2014-06-25 00:00:00|  15|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         6|           755|               12| 134|               23|                5|                        2|                           6|                     12|                     17|      65|               972|
|           749|                  W|2014|2014-06-25 00:00:00|  16|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         6|           936|               13| 181|               21|                1|                        1|                           5|                     10|                     10|      48|              1184|
|           749|                  W|2014|2014-06-25 00:00:00|  17|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         4|          1117|               17|  93|                6|                2|                        2|                           5|                     13|                     12|      40|              1271|
|           749|                  W|2014|2014-06-25 00:00:00|  18|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         5|           860|                7|  61|                1|                3|                        2|                           1|                      9|                      9|      25|               958|
|           749|                  W|2014|2014-06-25 00:00:00|   7|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         2|           703|                5| 199|               41|                4|                        7|                           8|                      7|                     11|      78|               987|
|           749|                  W|2014|2014-06-25 00:00:00|   8|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         0|           925|               10| 193|               46|                2|                        4|                           8|                     12|                      8|      80|              1208|
|           749|                  W|2014|2014-06-25 00:00:00|   9|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         4|           851|               10| 164|               29|                6|                        6|                           4|                     15|                     15|      75|              1104|
|           749|                  W|2014|2014-06-25 00:00:00|  10|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         1|           588|               18| 104|               24|                7|                        6|                           5|                     17|                     16|      75|               786|
|           749|                  W|2014|2014-06-25 00:00:00|  11|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         3|           578|               11| 105|               25|                6|                        1|                          10|                     18|                     21|      81|               778|
|           749|                  W|2014|2014-06-25 00:00:00|  12|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         0|           623|                7|  79|               26|                4|                        1|                           3|                     11|                     14|      59|               768|
|           749|                  E|2014|2014-06-25 00:00:00|  13|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         1|           620|                6|  82|               28|                3|                       11|                           7|                     19|                     11|      79|               788|
|           749|                  E|2014|2014-06-25 00:00:00|  14|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major| 243900|  635900|55.591636456|-4.478605862|           0|                         2|           655|                9| 111|               27|                9|                        6|                           3|                      6|                     13|      64|               841|
+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+-------+--------+------------+------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
only showing top 20 rows

In [15]:
df2 = df.select("Count_point_id","Direction_of_travel","All_motor_vehicles")

In [16]:
df2.show()

+--------------+-------------------+------------------+
|Count_point_id|Direction_of_travel|All_motor_vehicles|
+--------------+-------------------+------------------+
|           749|                  E|               935|
|           749|                  E|              1102|
|           749|                  E|               773|
|           749|                  E|               778|
|           749|                  E|               875|
|           749|                  E|               754|
|           749|                  W|               896|
|           749|                  W|               990|
|           749|                  W|               972|
|           749|                  W|              1184|
|           749|                  W|              1271|
|           749|                  W|               958|
|           749|                  W|               987|
|           749|                  W|              1208|
|           749|                  W|              1104|
|           749|                  W|               786|
|           749|                  W|               778|
|           749|                  W|               768|
|           749|                  E|               788|
|           749|                  E|               841|
+--------------+-------------------+------------------+
only showing top 20 rows

In [17]:
df2.count()

4815417

In [20]:
df3 = df2.withColumn("id", concat(df2.Count_point_id,df2.Direction_of_travel))

In [21]:
df3.show()

+--------------+-------------------+------------------+----+
|Count_point_id|Direction_of_travel|All_motor_vehicles|  id|
+--------------+-------------------+------------------+----+
|           749|                  E|               935|749E|
|           749|                  E|              1102|749E|
|           749|                  E|               773|749E|
|           749|                  E|               778|749E|
|           749|                  E|               875|749E|
|           749|                  E|               754|749E|
|           749|                  W|               896|749W|
|           749|                  W|               990|749W|
|           749|                  W|               972|749W|
|           749|                  W|              1184|749W|
|           749|                  W|              1271|749W|
|           749|                  W|               958|749W|
|           749|                  W|               987|749W|
|           749|                  W|              1208|749W|
|           749|                  W|              1104|749W|
|           749|                  W|               786|749W|
|           749|                  W|               778|749W|
|           749|                  W|               768|749W|
|           749|                  E|               788|749E|
|           749|                  E|               841|749E|
+--------------+-------------------+------------------+----+
only showing top 20 rows

In [23]:
df3 = df3.drop("Count_point_id","Direction_of_travel")

In [24]:
df3.show()

+------------------+----+
|All_motor_vehicles|  id|
+------------------+----+
|               935|749E|
|              1102|749E|
|               773|749E|
|               778|749E|
|               875|749E|
|               754|749E|
|               896|749W|
|               990|749W|
|               972|749W|
|              1184|749W|
|              1271|749W|
|               958|749W|
|               987|749W|
|              1208|749W|
|              1104|749W|
|               786|749W|
|               778|749W|
|               768|749W|
|               788|749E|
|               841|749E|
+------------------+----+
only showing top 20 rows

In [ ]:
dataset = pd.read_csv("dft_traffic_counts_raw_counts.csv")

In [ ]:
dataset.head()

In [ ]:
dataset.drop(["Region_name","Region_ons_code","Local_authority_id","Local_authority_name"],axis=1)

In [ ]:
dataset.shape

In [ ]:
dataset["hour"].unique()

In [ ]:
dataset["Region_name"].unique()

In [ ]:
dataset["Count_point_id"].unique()

In [ ]:
dataset["Year"].unique()

In [ ]:
dataset["Count_date"].unique()

In [ ]:
dataset["Region_id"].unique()

In [ ]:
dataset["Region_ons_code"].unique()

In [ ]:
dataset[dataset["Count_point_id"]==18029].shape

In [ ]:
df.count()